{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple name="writers" class="form-control" id="exampleFormControlSelect2">       
            {% for item in catalogue %}
            <option>{{ item.writer }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}